:root {
  --title-main-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --light-text-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-main-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.header-adress-mail,
.header-adress-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-adress-mail:hover,
.header-adress-mail:focus,
.header-adress-tel:hover,
.header-adress-tel:focus {
  color: var(--accent-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
  background-color: var(--accent-color);
}
